<div class="atividade jumbotron">
    <div class="titulo"><h2>{{update ? 'EDIÇÃO' : 'CADASTRO'}} DE ATIVIDADES</h2><hr></div>
    <div class="">
        <label>Título</label>
        <input type="text" class="form-control input" ng-model="atividade.dsTitulo">
        <label>descrição</label>
        <input type="text" class="form-control input" ng-model="atividade.dsAtividade">
        <label>Tipo</label>
        <select class="form-control input" ng-model="atividade.tipoAtividade" ng-options="tipo.dsTpAtividade for tipo in tipoAtividadeList">
            <option value="">Selecione um Tipo de Atendimento</option>
        </select>
    </div>
    <div class="alert alert-danger" ng-if="error">
		<span>{{error}}</span>
	</div>
    <div class="controls">
        <button type="button" class="btn btn-default" ng-click="back()">Voltar</button>
        <button ng-if="update" type="button" class="btn btn-default" ng-click="changeStatus(atividade)">{{aberta ? 'Concluir' : 'Abrir'}}</button>
        <button ng-if="update" type="button" class="btn btn-danger" ng-click="removeAtividade(atividade)">Excluir</button>
        <button type="button" class="btn btn-success" ng-click="saveAtividade(atividade)">Salvar</button>
    </div>
</div>
