<div class="atividade jumbotron">
    <div class="titulo"><h2>LISTA DE ATIVIDADES</h2><hr></div>
    <div class="filters">
        <select class="form-control" ng-model="tipoAtividade" ng-options="tipo.dsTpAtividade for tipo in tipoAtividadeList">
            <option value="">Selecione um Tipo de Atendimento</option>
        </select>
        <select class="form-control" ng-model="statusAtividade" ng-options="status.dsStatusAtividade for status in statusAtividadeList">
            <option value="">Selecione um Status de Atendimento</option>
        </select>

        <div class="busca">
            <button type="button" class="btn btn-default btn-block" ng-click="search()">Pesquisar</button>
        </div>
    </div>
    <div class="table">
        <div class="cabecalho">
            <div>CÓDIGO</div>
            <div>TÍTULO</div>
            <div>DESCRIÇÃO</div>
            <div>TIPO</div>
            <div>STATUS</div>
        </div>
        <div class="item" ng-repeat="atividade in atividadeList" ng-click="edit(atividade)">
            <div>{{atividade.cdAtividade}}</div>
            <div>{{atividade.dsTitulo}}</div>
            <div>{{atividade.dsAtividade}}</div>
            <div>{{atividade.tipoAtividade.dsTpAtividade}}</div>
            <div>{{atividade.statusAtividade.dsStatusAtividade}}</div>
        </div>
        <div class="sem-registro" ng-if="!hasAtividades">Nenhum registro encontrado</div>
    </div>
    <div class="controls">
        <button type="button" class="btn btn-default" ng-click="new()">Novo</button>
    </div>
</div>
