body {
    background-color: #f1f1f1;
}
.jumbotron {
    width: 70%;
    background-color: #fff;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.atividade .titulo {
    margin-bottom: 50px;
    font-weight: 700;
    color: #3b9ef3;
}

.atividade .table {
    padding: 10px;
    display: grid;
    background-color: #f1f1f1;
    border-radius: 3px;
}

.atividade .table>.cabecalho {
    display: grid;
    grid-template-columns: 10% 15% 45% 15% 15%;
    height: 30px;
    padding: 5px;
    font-weight: 700;
    color: #7b7b7b;
    border-bottom: 1px solid;
}

.atividade .table>.item {
    display: grid;
    grid-template-columns: 10% 15% 45% 15% 15%;
    grid-template-rows: 10% 15% 45% 15% 15%;
    padding: 5px;
    color: #7b7b7b;
    cursor: pointer;
}

.sem-registro {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: #7b7b7b;
}

.atividade .filters {
    width: 25%;
}
.atividade .filters>select {
    margin-bottom: 15px;
    cursor: pointer;
}

.btn {
    width: 100px;
}

.btn-block {
    width: 100% !important;
}

.btn-default {
    background-color: #fff;
    border: 1px solid #3b9ef3;
    color: #3b9ef3;
}

.btn-default:hover {
    background-color: #3b9ef3;
    border: 1px solid #fff;
    color: #fff;
}

.btn-success {
    background-color: #fff;
    border: 1px solid #3ba553;
    color: #3ba553;
}

.btn-success:hover {
    background-color: #64d67e;
    border: 1px solid #fff;
    color: #fff;
}

.btn-danger {
    background-color: #fff;
    border: 1px solid #dc3545;
    color: #dc3545;
}

.btn-danger:hover {
    background-color: #dc3545;
    border: 1px solid #fff;
    color: #fff;
}

.controls {
    margin-top: 50px;
}

.atividade .busca {
    margin-bottom: 10px;
}

.input {
    height: 45px;
    margin-bottom: 15px;
    border: 0;
    border-radius: 10px;
    background-color: #f1f1f1;
}
